# Part 1: Baseball Stats Explorations
__This primer illustrates the basics of SQLite usage in Jupyter__

## Boilerplate Setup Code
Run this to set up %sql and %%sql magics

In [3]:
%load_ext sql

## First, a note about Jupyter Magics
Jupyter supports lots of languages, with Python and Markdown being the defaults. However, we can easily mix in code other languages using so-called *magic* extensions. By prepending foreign code with a few *magic* characters (sort of like an incantation) the code that follows is then run, with any outputs translated into Jupyter's native namespace (data structures). So, we can have Python code call R code which calls Bash code ..., all with just a little magic. 

Jupyter magics generally start with the `%` character. A bunch of them are [built into Jupyter](https://ipython.readthedocs.io/en/stable/interactive/magics.html) without any installation required. A few useful ones:
- `%cd`, which changes the directory in which the code that follows is run
- `%load_ext`, which we saw used above to load the %sql and %%sql magics
- `%matplotlb`, which sets up the matplotlib library for interactive use
- `%%bash`, which executes Bash commands just like in a Terminal tab
- `%%html`, which renders HTML code for direct display in the notebook
- `%%js`, which executes Javascript code

You may have noticed that some magics start with `%` while others start with `%%`. 
- The ones with `%` are run "inline" so they can be mixed directly into other code. This way one could for example, have Python code that directly calls SQL code to pull data from a database (without having to set up SqlAlchemy). If the magic code returns an output value, then that value can be captured with a variable. The ony real draw-back is that inline magics have to be on a single line and can's have any line breaks.
- The ones with `%%` are _cell magics_ that apply to a whole cell. Cell magics are always by themselves on the first line of a cell. The code on the lines below are then processed via the magic. If the cell returns a value then it is displayed immediately by Jupyter. However, if we want to capture that value in a variable then we have to use a special [kludge](https://en.wikipedia.org/wiki/Kludge) included in Jupyter for just this purpose. In Jupyter, the special variable `_` (yes, that's an underscore) always contains the output value of the most recently run cell. 

__Here we will be using `%sql` and `%%sql` magics to pull data from a SQLite database.__

## Connecting to the Database
The database we will be using is the `Lahman 2016` data repository that you may have already seen in other classes. We are using it as a sort of common data set that conencts the courses. The database includes [historical baseball data from 1871-2016](https://github.com/jknecht/baseball-archive-sqlite). 

The database tech used is SQLite, a very lightweight package that keeps all data in a single file (sort of like a document) that can be copied and even versioned in GitHub. This has lots of advantages for business analysts. Any time the analysts need data, they can _extract_ it from the DBMS server into a local SQLite database and then _transform_ it in SQLite (or Python or R) prior to analysis. They lose real-time data timeliness, but gain lots of control over way the data is organized.    

In order to connect with any database we have to first provide a *connection string* that specifies:
- what software 'bridge' software is needed
- where to find the database 
- whatever user credentials are needed to access the data inside the database

For a SQLite database, where there is no concept of user accounts or permissions, the connection string is very simple:
```
sqlite:///<path-to-file>
```
The bridge software is `sqlite` and the location of the database is given by `/<path-to-file>`. 

__The code below connects to the `lahman2016.sqlite` database in the same directory as this notebook.__

In [8]:
%sql sqlite:///lahman2016.sqlite

'Connected: @lahman2016.sqlite'

## Using SQL to discover the database design
This can be pretty confusing for SQL newbies. There are no SQL commands for listing all the tables in a database. Instead, we query one or more _metadata_ tables. In SQLite the metadata is in the `sqlite_master` table which describes every data definition object in the database.  Each object has the following fields:
- `type` -- generally either 'table' or 'index'
- `name` -- the object name (which is equal to tbl_name if the object is a table)
- `tbl_name` -- the name of the table that the object describes
- `rootpage` -- the precise location i the b-tree datastructure used to store the data (for SQLite internal use only)
- `sql` -- the SQL DDL code needed to create the object

In [26]:
%%sql 
/* take a peek at the full sqlite_master table */
SELECT * 
FROM sqlite_master;

 * sqlite:///lahman2016.sqlite
Done.

[('table', 'AllstarFull', 'AllstarFull', 2, 'CREATE TABLE AllstarFull (\nplayerID TEXT,\nyearID INTEGER,\ngameNum INTEGER,\ngameID TEXT,\nteamID TEXT,\nlgID TEXT,\nGP INTEGER,\nstartingPos INTEGER\n)'),
 ('table', 'Appearances', 'Appearances', 3, 'CREATE TABLE Appearances (\nyearID INTEGER,\nteamID TEXT,\nlgID TEXT,\nplayerID TEXT,\nG_all INTEGER,\nGS INTEGER,\nG_batting INTEGER,\nG_defense INT ... (51 characters truncated) ... _2b INTEGER,\nG_3b INTEGER,\nG_ss INTEGER,\nG_lf INTEGER,\nG_cf INTEGER,\nG_rf INTEGER,\nG_of INTEGER,\nG_dh INTEGER,\nG_ph INTEGER,\nG_pr INTEGER\n)'),
 ('table', 'AwardsManagers', 'AwardsManagers', 4, 'CREATE TABLE AwardsManagers (\nplayerID TEXT,\nawardID TEXT,\nyearID INTEGER,\nlgID TEXT,\ntie TEXT,\nnotes TEXT\n)'),
 ('table', 'AwardsPlayers', 'AwardsPlayers', 5, 'CREATE TABLE AwardsPlayers (\nplayerID TEXT,\nawardID TEXT,\nyearID INTEGER,\nlgID TEXT,\ntie TEXT,\nnotes TEXT\n)'),
 ('table', 'AwardsShareManagers', 'AwardsShareManagers', 6, 'CREATE TABLE AwardsShareManagers (\nawardID TEXT,\nyearID INTEGER,\nlgID TEXT,\nplayerID TEXT,\npointsWon INTEGER,\npointsMax INTEGER,\nvotesFirst INTEGER\n)'),
 ('table', 'AwardsSharePlayers', 'AwardsSharePlayers', 9, 'CREATE TABLE AwardsSharePlayers (\nawardID TEXT,\nyearID INTEGER,\nlgID TEXT,\nplayerID TEXT,\npointsWon REAL,\npointsMax INTEGER,\nvotesFirst REAL\n)'),
 ('table', 'Batting', 'Batting', 10, 'CREATE TABLE Batting (\nplayerID TEXT,\nyearID INTEGER,\nstint INTEGER,\nteamID TEXT,\nlgID TEXT,\nG INTEGER,\nG_batting INTEGER,\nAB INTEGER,\nR INT ... (64 characters truncated) ... I INTEGER,\nSB INTEGER,\nCS INTEGER,\nBB INTEGER,\nSO INTEGER,\nIBB INTEGER,\nHBP INTEGER,\nSH INTEGER,\nSF INTEGER,\nGIDP INTEGER,\nG_old INTEGER\n)'),
 ('table', 'BattingPost', 'BattingPost', 11, 'CREATE TABLE BattingPost (\nyearID INTEGER,\nround TEXT,\nplayerID TEXT,\nteamID TEXT,\nlgID TEXT,\nG INTEGER,\nAB INTEGER,\nR INTEGER,\nH INTEGER,\n ... (29 characters truncated) ... nHR INTEGER,\nRBI INTEGER,\nSB INTEGER,\nCS INTEGER,\nBB INTEGER,\nSO INTEGER,\nIBB INTEGER,\nHBP INTEGER,\nSH INTEGER,\nSF INTEGER,\nGIDP INTEGER\n)'),
 ('table', 'CollegePlaying', 'CollegePlaying', 13, 'CREATE TABLE CollegePlaying (\nplayerID TEXT,\nschoolID TEXT,\nyearID INTEGER\n)'),
 ('table', 'Fielding', 'Fielding', 14, 'CREATE TABLE Fielding (\nplayerID TEXT,\nyearID INTEGER,\nstint INTEGER,\nteamID TEXT,\nlgID TEXT,\nPOS TEXT,\nG INTEGER,\nGS INTEGER,\nInnOuts INTEGER,\nPO INTEGER,\nA INTEGER,\nE INTEGER,\nDP INTEGER,\nPB INTEGER,\nWP INTEGER,\nSB INTEGER,\nCS INTEGER,\nZR REAL\n)'),
 ('table', 'FieldingOF', 'FieldingOF', 15, 'CREATE TABLE FieldingOF (\nplayerID TEXT,\nyearID INTEGER,\nstint INTEGER,\nGlf INTEGER,\nGcf INTEGER,\nGrf INTEGER\n)'),
 ('table', 'FieldingOFsplit', 'FieldingOFsplit', 16, 'CREATE TABLE FieldingOFsplit (\nplayerID TEXT,\nyearID INTEGER,\nstint INTEGER,\nteamID TEXT,\nlgID TEXT,\nPOS TEXT,\nG INTEGER,\nGS INTEGER,\nInnOuts INTEGER,\nPO INTEGER,\nA INTEGER,\nE INTEGER,\nDP INTEGER,\nPB INTEGER,\nWP INTEGER,\nSB INTEGER,\nCS INTEGER,\nZR REAL\n)'),
 ('table', 'FieldingPost', 'FieldingPost', 18, 'CREATE TABLE FieldingPost (\nplayerID TEXT,\nyearID INTEGER,\nteamID TEXT,\nlgID TEXT,\nround TEXT,\nPOS TEXT,\nG INTEGER,\nGS INTEGER,\nInnOuts INTEGER,\nPO INTEGER,\nA INTEGER,\nE INTEGER,\nDP INTEGER,\nTP INTEGER,\nPB INTEGER,\nSB INTEGER,\nCS INTEGER\n)'),
 ('table', 'HallOfFame', 'HallOfFame', 19, 'CREATE TABLE HallOfFame (\nplayerID TEXT,\nyearid INTEGER,\nvotedBy TEXT,\nballots INTEGER,\nneeded INTEGER,\nvotes INTEGER,\ninducted TEXT,\ncategory TEXT,\nneeded_note TEXT\n)'),
 ('table', 'HomeGames', 'HomeGames', 20, 'CREATE TABLE HomeGames (\nyearkey INTEGER,\nleaguekey TEXT,\nteamkey TEXT,\nparkkey TEXT,\nspanfirst TEXT,\nspanlast TEXT,\ngames INTEGER,\nopenings INTEGER,\nattendance INTEGER\n)'),
 ('table', 'Managers', 'Managers', 21, 'CREATE TABLE Managers (\nplayerID TEXT,\nyearID INTEGER,\nteamID TEXT,\nlgID TEXT,\ninseason INTEGER,\nG INTEGER,\nW INTEGER,\nL INTEGER,\nrank INTEGER,\nplyrMgr TEXT\n)'),
 ('table', 'ManagersHalf', 'ManagersHalf', 23, 'CREATE TABLE ManagersHalf (\nplayerID TEXT,\nyearID INTEGER,\nteamID TEXT,\nlgID TEXT,\ninseason INTEGER,\nhalf INTEGER,\nG INTEGER,\nW INTEGER,\nL INTEGER,\nrank INTEGER\n)'),
 ('table', 'Master', 'Master', 24, 'CREATE TABLE Master (\nplayerID TEXT,\nbirthYear INTEGER,\nbirthMonth INTEGER,\nbirthDay INTEGER,\nbirthCountry TEXT,\nbirthState TEXT,\nbirthCity TE ... (141 characters truncated) ... Last TEXT,\nnameGiven TEXT,\nweight INTEGER,\nheight INTEGER,\nbats TEXT,\nthrows TEXT,\ndebut TEXT,\nfinalGame TEXT,\nretroID TEXT,\nbbrefID TEXT\n)'),
 ('table', 'Parks', 'Parks', 25, 'CREATE TABLE Parks (\nID INTEGER,\nparkalias TEXT,\nparkkey TEXT,\nparkname TEXT,\ncity TEXT,\nstate TEXT,\ncountry TEXT\n)'),
 ('table', 'Pitching', 'Pitching', 26, 'CREATE TABLE Pitching (\nplayerID TEXT,\nyearID INTEGER,\nstint INTEGER,\nteamID TEXT,\nlgID TEXT,\nW INTEGER,\nL INTEGER,\nG INTEGER,\nGS INTEGER,\n ... (130 characters truncated) ... L,\nERA REAL,\nIBB INTEGER,\nWP INTEGER,\nHBP INTEGER,\nBK INTEGER,\nBFP INTEGER,\nGF INTEGER,\nR INTEGER,\nSH INTEGER,\nSF INTEGER,\nGIDP INTEGER\n)'),
 ('table', 'PitchingPost', 'PitchingPost', 28, 'CREATE TABLE PitchingPost (\nplayerID TEXT,\nyearID INTEGER,\nround TEXT,\nteamID TEXT,\nlgID TEXT,\nW INTEGER,\nL INTEGER,\nG INTEGER,\nGS INTEGER,\ ... (131 characters truncated) ... L,\nERA REAL,\nIBB INTEGER,\nWP INTEGER,\nHBP INTEGER,\nBK INTEGER,\nBFP INTEGER,\nGF INTEGER,\nR INTEGER,\nSH INTEGER,\nSF INTEGER,\nGIDP INTEGER\n)'),
 ('table', 'Salaries', 'Salaries', 29, 'CREATE TABLE Salaries (\nyearID INTEGER,\nteamID TEXT,\nlgID TEXT,\nplayerID TEXT,\nsalary REAL\n)'),
 ('table', 'Schools', 'Schools', 30, 'CREATE TABLE Schools (\nschoolID TEXT,\nname_full TEXT,\ncity TEXT,\nstate TEXT,\ncountry TEXT\n)'),
 ('table', 'SeriesPost', 'SeriesPost', 32, 'CREATE TABLE SeriesPost (\nyearID INTEGER,\nround TEXT,\nteamIDwinner TEXT,\nlgIDwinner TEXT,\nteamIDloser TEXT,\nlgIDloser TEXT,\nwins INTEGER,\nlosses INTEGER,\nties INTEGER\n)'),
 ('table', 'Teams', 'Teams', 33, 'CREATE TABLE Teams (\nyearID INTEGER,\nlgID TEXT,\nteamID TEXT,\nfranchID TEXT,\ndivID TEXT,\nRank INTEGER,\nG INTEGER,\nGhome INTEGER,\nW INTEGER,\n ... (389 characters truncated) ... NTEGER,\nFP REAL,\nname TEXT,\npark TEXT,\nattendance INTEGER,\nBPF INTEGER,\nPPF INTEGER,\nteamIDBR TEXT,\nteamIDlahman45 TEXT,\nteamIDretro TEXT\n)'),
 ('table', 'TeamsFranchises', 'TeamsFranchises', 34, 'CREATE TABLE TeamsFranchises (\nfranchID TEXT,\nfranchName TEXT,\nactive TEXT,\nNAassoc TEXT\n)'),
 ('table', 'TeamsHalf', 'TeamsHalf', 36, 'CREATE TABLE TeamsHalf (\nyearID INTEGER,\nlgID TEXT,\nteamID TEXT,\nHalf TEXT,\ndivID TEXT,\nDivWin TEXT,\nRank INTEGER,\nG INTEGER,\nW INTEGER,\nL INTEGER\n)'),
 ('index', 'AllstarFull_gameID', 'AllstarFull', 34282, 'CREATE INDEX AllstarFull_gameID on AllstarFull (gameID)'),
 ('index', 'AllstarFull_Index_2BD68208_C8B4_4347', 'AllstarFull', 34399, 'CREATE UNIQUE INDEX AllstarFull_Index_2BD68208_C8B4_4347 on AllstarFull (playerID, yearID, gameNum)'),
 ('index', 'AllstarFull_lgID', 'AllstarFull', 34526, 'CREATE INDEX AllstarFull_lgID on AllstarFull (lgID)'),
 ('index', 'AllstarFull_teamID', 'AllstarFull', 34584, 'CREATE INDEX AllstarFull_teamID on AllstarFull (teamID)'),
 ('index', 'Appearances_Index_70924BF9_C76C_4076', 'Appearances', 34648, 'CREATE UNIQUE INDEX Appearances_Index_70924BF9_C76C_4076 on Appearances (yearID, teamID, playerID)'),
 ('index', 'Appearances_lgID', 'Appearances', 37488, 'CREATE INDEX Appearances_lgID on Appearances (lgID)'),
 ('index', 'AwardsManagers_Index_5B79AD08_A7C1_426E', 'AwardsManagers', 38729, 'CREATE UNIQUE INDEX AwardsManagers_Index_5B79AD08_A7C1_426E on AwardsManagers (yearID, awardID, lgID, playerID)'),
 ('index', 'AwardsPlayers_Index_99C7A5A6_27CA_44FC', 'AwardsPlayers', 38739, 'CREATE UNIQUE INDEX AwardsPlayers_Index_99C7A5A6_27CA_44FC on AwardsPlayers (yearID, awardID, lgID, playerID)'),
 ('index', 'AwardsShareManagers_Index_4D947987_0BEF_4B9B', 'AwardsShareManagers', 39020, 'CREATE UNIQUE INDEX AwardsShareManagers_Index_4D947987_0BEF_4B9B on AwardsShareManagers (awardID, yearID, lgID, playerID)'),
 ('index', 'AwardsSharePlayers_Index_020E6DB1_95E2_44F1', 'AwardsSharePlayers', 39045, 'CREATE UNIQUE INDEX AwardsSharePlayers_Index_020E6DB1_95E2_44F1 on AwardsSharePlayers (awardID, yearID, lgID, playerID)'),
 ('index', 'Batting_Index_7170BE9D_268A_46B8', 'Batting', 39272, 'CREATE UNIQUE INDEX Batting_Index_7170BE9D_268A_46B8 on Batting (playerID, yearID, stint)'),
 ('index', 'Batting_lgID', 'Batting', 41869, 'CREATE INDEX Batting_lgID on Batting (lgID)'),
 ('index', 'Batting_teamID', 'Batting', 43087, 'CREATE INDEX Batting_teamID on Batting (teamID)'),
 ('index', 'BattingPost_Index_8C81D106_6E96_4318', 'BattingPost', 44433, 'CREATE UNIQUE INDEX BattingPost_Index_8C81D106_6E96_4318 on BattingPost (yearID, round, playerID)'),
 ('index', 'BattingPost_lgID', 'BattingPost', 44804, 'CREATE INDEX BattingPost_lgID on BattingPost (lgID)'),
 ('index', 'BattingPost_teamID', 'BattingPost', 44959, 'CREATE INDEX BattingPost_teamID on BattingPost (teamID)'),
 ('index', 'Fielding_Index_97751AED_0076_4367', 'Fielding', 45138, 'CREATE UNIQUE INDEX Fielding_Index_97751AED_0076_4367 on Fielding (playerID, yearID, stint, POS)'),
 ('index', 'Fielding_lgID', 'Fielding', 48986, 'CREATE INDEX Fielding_lgID on Fielding (lgID)'),
 ('index', 'Fielding_teamID', 'Fielding', 50564, 'CREATE INDEX Fielding_teamID on Fielding (teamID)'),
 ('index', 'FieldingOF_Index_8983CB74_6371_424E', 'FieldingOF', 52361, 'CREATE UNIQUE INDEX FieldingOF_Index_8983CB74_6371_424E on FieldingOF (playerID, yearID, stint)'),
 ('index', 'FieldingOFsplit_Index_97751AED_0076_4367', 'FieldingOFsplit', 52657, 'CREATE UNIQUE INDEX FieldingOFsplit_Index_97751AED_0076_4367 on FieldingOFsplit (playerID, yearID, stint, POS)'),
 ('index', 'FieldingOFsplit_lgID', 'FieldingOFsplit', 53539, 'CREATE INDEX FieldingOFsplit_lgID on FieldingOFsplit (lgID)'),
 ('index', 'FieldingOFsplit_teamID', 'FieldingOFsplit', 53888, 'CREATE INDEX FieldingOFsplit_teamID on FieldingOFsplit (teamID)'),
 ('index', 'FieldingPost_Index_E1DA201A_3B38_486D', 'FieldingPost', 54275, 'CREATE UNIQUE INDEX FieldingPost_Index_E1DA201A_3B38_486D on FieldingPost (playerID, yearID, round, POS)'),
 ('index', 'FieldingPost_lgID', 'FieldingPost', 54660, 'CREATE INDEX FieldingPost_lgID on FieldingPost (lgID)'),
 ('index', 'FieldingPost_teamID', 'FieldingPost', 54805, 'CREATE INDEX FieldingPost_teamID on FieldingPost (teamID)'),
 ('index', 'HallOfFame_PrimaryKey', 'HallOfFame', 54966, 'CREATE UNIQUE INDEX HallOfFame_PrimaryKey on HallOfFame (playerID, yearid, votedBy)'),
 ('index', 'HomeGames_leaguekey', 'HomeGames', 55090, 'CREATE INDEX HomeGames_leaguekey on HomeGames (leaguekey)'),
 ('index', 'HomeGames_parkkey', 'HomeGames', 55123, 'CREATE INDEX HomeGames_parkkey on HomeGames (parkkey)'),
 ('index', 'HomeGames_teamkey', 'HomeGames', 55168, 'CREATE INDEX HomeGames_teamkey on HomeGames (teamkey)'),
 ('index', 'HomeGames_yearkey', 'HomeGames', 55205, 'CREATE INDEX HomeGames_yearkey on HomeGames (yearkey)'),
 ('index', 'Managers_Index_836DE8E8_FEBD_469A', 'Managers', 55239, 'CREATE UNIQUE INDEX Managers_Index_836DE8E8_FEBD_469A on Managers (yearID, teamID, inseason)'),
 ('index', 'Managers_lgID', 'Managers', 55302, 'CREATE INDEX Managers_lgID on Managers (lgID)'),
 ('index', 'Managers_managerID', 'Managers', 55342, 'CREATE INDEX Managers_managerID on Managers (playerID)'),
 ('index', 'ManagersHalf_Index_C2906EEF_9F52_4968', 'ManagersHalf', 55410, 'CREATE UNIQUE INDEX ManagersHalf_Index_C2906EEF_9F52_4968 on ManagersHalf (yearID, teamID, playerID, half)'),
 ('index', 'ManagersHalf_lgID', 'ManagersHalf', 55415, 'CREATE INDEX ManagersHalf_lgID on ManagersHalf (lgID)'),
 ('index', 'Master_bbrefID', 'Master', 55416, 'CREATE INDEX Master_bbrefID on Master (bbrefID)'),
 ('index', 'Master_playerID', 'Master', 55778, 'CREATE UNIQUE INDEX Master_playerID on Master (playerID)'),
 ('index', 'Master_retroID', 'Master', 56141, 'CREATE INDEX Master_retroID on Master (retroID)'),
 ('index', 'Parks_ID', 'Parks', 56484, 'CREATE UNIQUE INDEX Parks_ID on Parks (ID)'),
 ('index', 'Parks_parkkey', 'Parks', 56488, 'CREATE INDEX Parks_parkkey on Parks (parkkey)'),
 ('index', 'Pitching_Index_481778A5_18F2_430E', 'Pitching', 56493, 'CREATE UNIQUE INDEX Pitching_Index_481778A5_18F2_430E on Pitching (playerID, yearID, stint)'),
 ('index', 'Pitching_lgID', 'Pitching', 57606, 'CREATE INDEX Pitching_lgID on Pitching (lgID)'),
 ('index', 'Pitching_teamID', 'Pitching', 58120, 'CREATE INDEX Pitching_teamID on Pitching (teamID)'),
 ('index', 'PitchingPost_Index_E71336E6_AB00_432C', 'PitchingPost', 58699, 'CREATE UNIQUE INDEX PitchingPost_Index_E71336E6_AB00_432C on PitchingPost (playerID, yearID, round)'),
 ('index', 'PitchingPost_lgID', 'PitchingPost', 58844, 'CREATE INDEX PitchingPost_lgID on PitchingPost (lgID)'),
 ('index', 'PitchingPost_teamID', 'PitchingPost', 58902, 'CREATE INDEX PitchingPost_teamID on PitchingPost (teamID)'),
 ('index', 'Salaries_Index_E5568031_00FA_49CA', 'Salaries', 58966, 'CREATE UNIQUE INDEX Salaries_Index_E5568031_00FA_49CA on Salaries (yearID, teamID, lgID, playerID)'),
 ('index', 'Schools_Index_3D308CF0_821E_4DAB', 'Schools', 59767, 'CREATE UNIQUE INDEX Schools_Index_3D308CF0_821E_4DAB on Schools (schoolID)'),
 ('index', 'SeriesPost_Index_4F4214D5_9891_4F3C', 'SeriesPost', 59789, 'CREATE UNIQUE INDEX SeriesPost_Index_4F4214D5_9891_4F3C on SeriesPost (yearID, round)'),
 ('index', 'Teams_divID', 'Teams', 59795, 'CREATE INDEX Teams_divID on Teams (divID)'),
 ('index', 'Teams_franchID', 'Teams', 59823, 'CREATE INDEX Teams_franchID on Teams (franchID)'),
 ('index', 'Teams_Index_285058F1_D841_4142', 'Teams', 59859, 'CREATE UNIQUE INDEX Teams_Index_285058F1_D841_4142 on Teams (yearID, lgID, teamID)'),
 ('index', 'TeamsFranchises_Index_D181F923_2BF9_4281', 'TeamsFranchises', 59915, 'CREATE UNIQUE INDEX TeamsFranchises_Index_D181F923_2BF9_4281 on TeamsFranchises (franchID)'),
 ('index', 'TeamsHalf_divID', 'TeamsHalf', 59918, 'CREATE INDEX TeamsHalf_divID on TeamsHalf (divID)'),
 ('index', 'TeamsHalf_Index_3FD773F5_2FC0_415C', 'TeamsHalf', 59919, 'CREATE UNIQUE INDEX TeamsHalf_Index_3FD773F5_2FC0_415C on TeamsHalf (yearID, teamID, lgID, Half)')]

Most of the time we just want to list the table names, like below.

In [10]:
%%sql
SELECT name
FROM sqlite_master
WHERE type='table'
LIMIT 5;

 * sqlite:///lahman2016.sqlite
Done.

[('AllstarFull',),
 ('Appearances',),
 ('AwardsManagers',),
 ('AwardsPlayers',),
 ('AwardsShareManagers',)]

Of course, if you want to see (candidate) primary keys then you can do that as well, though it takes a little finagling. Can you take this query apart to see how it works?

In [11]:
%%sql
SELECT tbl_name, SUBSTR(sql, INSTR(sql,'(')) AS candidate_key
FROM sqlite_master
WHERE type='index' and sql like "CREATE UNIQUE%"
LIMIT 5;

 * sqlite:///lahman2016.sqlite
Done.

[('AllstarFull', '(playerID, yearID, gameNum)'),
 ('Appearances', '(yearID, teamID, playerID)'),
 ('AwardsManagers', '(yearID, awardID, lgID, playerID)'),
 ('AwardsPlayers', '(yearID, awardID, lgID, playerID)'),
 ('AwardsShareManagers', '(awardID, yearID, lgID, playerID)')]

Tip: Once we have table in mind, we can then also see the CREATE statement that tells us the field definitions.

In [12]:
%%sql
/* the Master table with basic profile data */
SELECT sql 
FROM sqlite_master
WHERE type='table' AND name='Master'
LIMIT 5;

 * sqlite:///lahman2016.sqlite
Done.

[('CREATE TABLE Master (\nplayerID TEXT,\nbirthYear INTEGER,\nbirthMonth INTEGER,\nbirthDay INTEGER,\nbirthCountry TEXT,\nbirthState TEXT,\nbirthCity TE ... (141 characters truncated) ... Last TEXT,\nnameGiven TEXT,\nweight INTEGER,\nheight INTEGER,\nbats TEXT,\nthrows TEXT,\ndebut TEXT,\nfinalGame TEXT,\nretroID TEXT,\nbbrefID TEXT\n)',)]

In [13]:
%%sql
SELECT sql 
FROM sqlite_master
WHERE type='table' AND name='HallOfFame'
LIMIT 5;

 * sqlite:///lahman2016.sqlite
Done.

[('CREATE TABLE HallOfFame (\nplayerID TEXT,\nyearid INTEGER,\nvotedBy TEXT,\nballots INTEGER,\nneeded INTEGER,\nvotes INTEGER,\ninducted TEXT,\ncategory TEXT,\nneeded_note TEXT\n)',)]

## A couple easy queries
Let's see if we can figure out how this database fits together by exploring a bit.

In [14]:
%%sql 
/* Get a list of all Hall of Fame players */
SELECT nameFirst, nameLast, yearid as induction_year
FROM HallOfFame
    JOIN Master USING (playerID)
WHERE inducted='Y' and category='Player'
ORDER BY yearid
LIMIT 5;

 * sqlite:///lahman2016.sqlite
Done.

[('Ty', 'Cobb', 1936),
 ('Walter', 'Johnson', 1936),
 ('Christy', 'Mathewson', 1936),
 ('Babe', 'Ruth', 1936),
 ('Honus', 'Wagner', 1936)]

In [15]:
%%sql
/* add in the number of all star games each HoF player played */
SELECT nameFirst, nameLast, HallOfFame.yearid as induction_year,count(AllstarFull.yearID) AS allstar_appearances
FROM HallOfFame
    JOIN Master USING (playerID)
    LEFT JOIN AllstarFull USING (playerID)
WHERE inducted='Y' and category='Player'
GROUP BY playerID, nameFirst, nameLast
ORDER BY allstar_appearances DESC
LIMIT 5;

 * sqlite:///lahman2016.sqlite
Done.

[('Hank', 'Aaron', 1982, 25),
 ('Willie', 'Mays', 1979, 24),
 ('Stan', 'Musial', 1969, 24),
 ('Mickey', 'Mantle', 1974, 20),
 ('Cal', 'Ripken', 2007, 19)]

## (Optional) Python Integration Tips
This section is for those of you using this database in your other classes. If you don't know or care about Python then please skip. However, if you subsequently take a Python class with databases, then perhaps you might like to come back then.

### You can embed SQL code directly into your Python code without SqlAlchemy

In [21]:
import pandas as pd
 
parks = %sql SELECT parkname, city, state, country FROM Parks LIMIT 5;
parks # parks is a resultset object that is mostly compatible with a dataframe

 * sqlite:///lahman2016.sqlite
Done.

[('Candlestick Park', 'San Francisco', 'CA', 'US'),
 ('AT&T Park', 'San Francisco', 'CA', 'US'),
 ('Estadio Hiram Bithorn', 'San Juan', None, 'PR'),
 ('Hampden Park Race Track', 'Springfield', 'MA', 'US'),
 ('Red Stockings Base Ball Park', 'St. Louis', 'MO', 'US')]

### Converting to pandas DataFrames
To make get a proper dataframe just use the `.DataFrame` method of the resultset

In [24]:
parks_df = parks.DataFrame()
parks_df

                       parkname           city state country
0              Candlestick Park  San Francisco    CA      US
1                     AT&T Park  San Francisco    CA      US
2         Estadio Hiram Bithorn       San Juan  None      PR
3       Hampden Park Race Track    Springfield    MA      US
4  Red Stockings Base Ball Park      St. Louis    MO      US

### Using `%%sql` resultsets
When using `%%sql` the entire cell is SQL code. So, how do we get the results into Python if we can't use Python code in the cell? It's simple, really, just use the `__` pseudo-variable. It always holds the results of the most recently run cell. As long as we take care to have our Python code in the cell immediately after the `%%sql` magic, we should be fine.

In [25]:
%%sql
SELECT parkname, city, state, country
FROM Parks 
LIMIT 10

 * sqlite:///lahman2016.sqlite
Done.

[('Candlestick Park', 'San Francisco', 'CA', 'US'),
 ('AT&T Park', 'San Francisco', 'CA', 'US'),
 ('Estadio Hiram Bithorn', 'San Juan', None, 'PR'),
 ('Hampden Park Race Track', 'Springfield', 'MA', 'US'),
 ('Red Stockings Base Ball Park', 'St. Louis', 'MO', 'US'),
 ('Grand Avenue Park', 'St. Louis', 'MO', 'US'),
 ("Sportsman's Park I", 'St. Louis', 'MO', 'US'),
 ('Union Grounds', 'St. Louis', 'MO', 'US'),
 ('Robison Field', 'St. Louis', 'MO', 'US'),
 ("Sportsman's Park II", 'St. Louis', 'MO', 'US')]

In [13]:
parks_df = _.DataFrame()
parks_df

                       parkname           city state country
0              Candlestick Park  San Francisco    CA      US
1                     AT&T Park  San Francisco    CA      US
2         Estadio Hiram Bithorn       San Juan  None      PR
3       Hampden Park Race Track    Springfield    MA      US
4  Red Stockings Base Ball Park      St. Louis    MO      US
5             Grand Avenue Park      St. Louis    MO      US
6            Sportsman's Park I      St. Louis    MO      US
7                 Union Grounds      St. Louis    MO      US
8                 Robison Field      St. Louis    MO      US
9           Sportsman's Park II      St. Louis    MO      US

### Using multiple databases
Sometimes you will want to *port* data from one database to another. In this case, you will need to connect to both database at the same time. 

The trick is to specify the database connection string for each %sql call. 
```python
%sql <connection-for-db1>
result_db1 = %sql SELECT * FROM ...
%sql <connection-for_db2>
%sql INSERT ... 
```